body {
    background-color: #101418;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family: "DejaVu Sans", serif;
    color: #F1F2F3;
    font-weight: bold;
    font-size: 50px;
}

.shadowed {
    border: 2px solid #727E84;
    border-radius: 12px;
    background: #2D3643;
    box-shadow: 0 0 15px 5px #2D3643;
    padding: 10px;
}